<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn Page</title>
    <link rel="stylesheet" href="/style-home.css">
</head>
<body>
    <div id="loginpage">
    <form method="post" action="/login">
        <h1>LogIn</h1>
        <label>Email: </label>
        <input type="email" name="username" id="logininput">
        <label>Password: </label>
        <input type="password" name="password" id="logininput">
        <button type="submit" id="loginbutton">Log In</button>
    </form>
    </div>
</body>
</html>